---
name: Pre-Commit

on:
  pull_request:
    branches:
      - main
      - master

jobs:
  Pre-commit:
    uses: gucio1200/gh-workflows/.github/workflows/terraform_pre-commit.yml@v7.8.0
    secrets: inherit
