---
name: Release

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - master
    paths:
      - '**/*.tpl'
      - '**/*.tmpl'
      - '**/*.tf'
      - '**/*.tfvars'

jobs:
  Release:
    uses: gucio1200/gh-workflows/.github/workflows/general_release.yml@v7.2.0
    secrets: inherit
